body {
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background: var(--baseBackground);
  color: (var(--baseColor));
}

:root {
  --LimeGreen: hsl(163, 72%, 41%);
  --Brightred: hsl(356, 69%, 56%);
  --Facebook: hsl(195, 100%, 50%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);
  --BrightRed: hsl(356, 69%, 56%);
  --gray: #5f616d;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}

.header {
  background: var(--lightGray);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
  color: var(--baseColor);
}
h1 {
  margin: 0;
  font-size: 1.7em;
}
.top__cars {
  margin-top: -50px;
  margin-bottom: 2em;
}
.wrapper {
  padding: 0 30px;
}

.wrapper__followers {
  font-weight: 600;
  color: var(--gray);
  font-size: 0.8em;
  margin: 0.5em 0;
  border-bottom: 1px solid rgb(44, 43, 43);
  padding-bottom: 1.5em;
}

.grip {
  display: grid;
  grid-row-gap: 25px;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--cardGray);
  color: var(--baseColor);
  text-align: center;
  height: 200px;
  padding: 1.7em 0;
  position: relative;
}

.card__p {
  color: var(--LimeGreen);
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__p img {
  margin-right: 5px;
}

.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.card.facebook::before {
  background: var(--Twitter);
}
.card.twitter::before {
  background: var(--Facebook);
}
.card.instagram::before {
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}
.card.youtube::before {
  background: var(--YouTube);
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cardTitle);
  font-size: 0.8em;
  font-weight: bold;
}

.card__title img {
  margin-right: 5px;
}

.card__followers {
  margin-bottom: 40px;
}

.card__followers--numbers {
  font-size: 50px;
  font-weight: 700;
}

.card__followers--title {
  display: block;
  color: var(--gray);
  letter-spacing: 5px;
  font-size: 0.75em;
}

/* overviews-section
 */
.overview {
  padding-bottom: 2em;
}

h2 {
  color: grey;
}

.card-small {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  background: var(--cardGray);
  color: var(--baseColor);
  padding: 1.7em;
}

.card-small p {
  margin: 0;
}
.card-small-page {
  color: var(--cardTitle);
  font-weight: 600;
  font-size: 0.9em;
}

.card-small-img {
  text-align: right;
}

.card-small-number {
  font-size: 2.7em;
  font-weight: bold;
  line-height: 0.9em;
}
.card-small-percen {
  color: var(--LimeGreen);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8em;
  font-weight: bold;
}

.card-small-percen.is-down {
  color: var(--BrightRed);
}

.card-small-percen span {
  display: flex;
  align-items: center;
}

.card-small-percen img {
  margin-right: 0.2em;
}
.dark-mode {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.dark-mode-title {
  color: var(--gray);
  font-weight: bold;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .switch::before {
  transform: translateX(0px);
}
.switch {
  display: block;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  background: var(--switch);
  box-sizing: border-box;
  padding: 5px;
  user-select: none;
}

.switch::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background: var(--switchSpinner);
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(30px);
  transition: 0.5s;
}
.is-dark-mode {
  --cardGray: #252b43;
  --baseBackground: #1d2029;
  --baseColor: white;
  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
  --gray: #5f616d;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}

@media screen and (min-width: 450px) {
  .grip {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .grip {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .grip {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }

  .wrapper__followers {
    border-bottom: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
}
